{# Twig est un language d'interpolation #}

{% extends "base.html.twig" %}

{% block body %}

    <main class="container home">
        <div class="jumbotron mt-3">
            <h1>Bookings</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quis, facere quasi vero veritatis atque ipsa quae amet quod quia ad repellendus aut nobis soluta voluptas obcaecati pariatur, officiis impedit.</p>
            <hr class="my-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus neque id vitae repellat nisi, debitis iste expedita ipsum quos at error voluptate corrupti alias nulla pariatur exercitationem inventore rerum dignissimos.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">+ infos</a>
            </p>
        </div>

{# section1 #}
            <h3 class="h1 mt-5 mb-4">Annonces les mieux notées</h3>
            <section class="row">

                {% for data in ads %}
                    {% include 'ad/_ad.html.twig' with {'ad':data.annonce} %}
                {% endfor %}
                
        
            </section>
{# section2 #}
            <h3 class="h1 mt-5 mb-4">Nos meilleurs annonceurs</h3>
            <section class="row">

                {% for data in users %}
                    
                
                    <article class="col">
                        <div class="card mb-3">
                            <h3 class="h4 card-header text-white bg-primary">{{data.user.fullName}}</h3>
                            <div class="card-body">
                                <img src="{{data.user.avatar}}" alt="Avatar de {{data.user.fullName}}" class="float-left mr-3">
                                <p>{{data.user.introduction}}</p>
                            </div>

                            <div class="card-body">
                                <a href="{{path('user_show',{'alias':data.user.alias})}}" class="btn btn-warning text-primary">+ infos</a>                        
                            </div>

                            </div>                 
                    </article>

                {% endfor %}
        
            </section>



    </main>

{% endblock %}
    
